<!DOCTYPE html>
<html>
<head>
  <style>
    p{
      color:red;
      font-family:arial;
      font-weight:bold;
      font-size:60;
    }
  </style>
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1>Welcome to My Website</h1>
	</header>
	<main>
		<h2>About Me</h2>
		<p>GOD DOESN'T EXIT UNTIL YOU PRAY</p>
		<img src="https://myfirstpro.hsk070201.repl.co/static/david-marcu-78A265wPiO4-unsplash.jpg" height="320" alt="nature">
	</main>
	
	<footer>
		<p>&copy; 2023 My Website</p>
	</footer>
</body>
</html>

